<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/social_personality.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Vamos Come?ar a fazer o bem, afinal que mau tem</ion-card-subtitle>
        <ion-card-title>Bem vindo ao OSocial</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Agora ? poss?vel cadastrar as entidades sociais, que passar?o a ser conhecidas</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none" class="list-util">
      <ion-list-header>
        <ion-label>Contatos</ion-label>
      </ion-list-header>
      <ion-item href="/list">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Eventos</ion-label>
      </ion-item>
      <ion-item href="/eventos">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Entidades Sociais</ion-label>
      </ion-item>
      <ion-item href="/list">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Aqui voc? pode selecionar a entidade social que deseja saber a localiza??o</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
